@import "tailwindcss";
@import "./styles/tokens.css";
@import "./styles/globals.css";

@theme {
  --color-error: #EF1313;
  --color-error-dark: #D82727;
}

@font-face {
    font-family: Pretendard;
    font-display: swap;
    src: local("Pretendard"),
    url("/fonts/PretendardVariable.ttf") format('truetype');
}

* {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
