@import "tailwindcss";
@import "./styles/tokens.css";
/*@import "./styles/globals.css";*/

@font-face {
    font-family: Pretendard;
    font-display: swap;
    src: local("Pretendard"),
    url("/fonts/PretendardVariable.ttf") format('truetype');
}

* {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
}
